<head>
    <script src="/head-inject.js"></script>

    <title>The Blogosphere</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/win98.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/blogosphere.css"/>
</head>

<body>
    <main>
        <div class="maincontent-centred" style="min-height:60vh;">
            <div class="outsideborder body-fill">
                <div class="header-topelements">
                    <div class="header-one-box">
                        <h1>The Blogosphere</h1>
                        <img src="./assets/icons/icon_folder_empty.png">
                    </div>
                    <div class="header-toolbar">
                        <div class="insidecontent header-sub-box body-fill" style="padding:2px; box-sizing: border-box;">
                            <a class="noformat" href="/index.html">
                                <div class="windows-button windows-button-home" style="line-height: 34px;">
                                </div>
                            </a>
                            <div class="insideborder inside-element-sunken">
                                https://www.michaelscybersite.net/blog/home
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box flex-row">
                    <div class="content-box-sidebar">
                        <div class="insideborder content-fill" style="height:100%;">

                            <!--header for new sections-->  
                            <div class="blog-subheading">
                                <h4>Browse by Section</h4>
                            </div>
                            
                            <!--buttons for sections-->
                            <div class="blogosphere-category-flex noformat">
                                <a class="noformat" href="/blog/index.html#featured">
                                    <div class="bg-general outsideborder win-bluebutton">
                                        <span>Featured Posts</span>
                                        <img src="/assets/icons/icon_file_globes.png">
                                    </div>
                                </a>
                                <a class="noformat" href="/blog/index.html#new">
                                    <div class="bg-general outsideborder win-bluebutton">
                                        <span>New Posts</span>
                                        <img src="/assets/icons/icon_folder_globe.png">
                                    </div>
                                </a>
                                <a class="noformat" href="/blog/index.html#all">
                                    <div class="bg-general outsideborder win-bluebutton">
                                        <span>All Posts</span>
                                        <img src="/assets/icons/icon_folderfile_old.png">
                                    </div>
                                </a>
                            </div>

                            <!--header for new posts-->  
                            <div class="blog-subheading">
                                <h4>Browse by Category</h4>
                            </div>
                            
                            <!--buttons for categories-->
                            <div class="blogosphere-category-flex noformat">
                                <a class="noformat" href="/blog/index-general.html">
                                    <div class="bg-general outsideborder win-bluebutton">
                                        <span>General</span>
                                        <img src="/assets/icons/icon_home.png">
                                    </div>
                                </a>
                                <a class="noformat" href="/blog/index-books.html">
                                    <div class="bg-books outsideborder win-bluebutton">
                                        <span>Books</span>
                                        <img src="/assets/icons/icon_book_virginian.png">
                                    </div>
                                </a>
                                <a class="noformat" href="/blog/index-music.html">
                                    <div class="bg-music outsideborder win-bluebutton">
                                        <span>Music</span>
                                        <img src="/assets/icons/icon_cd1.png">
                                    </div>
                                </a>
                                <a class="noformat" href="/blog/index-movies.html">
                                    <div class="bg-movies outsideborder win-bluebutton">
                                        <span>Movies</span>
                                        <img src="/assets/icons/icon_film.png">
                                    </div>
                                </a>
                                
                                <div class="bg-photography outsideborder win-bluebotton-disabled">
                                    <span>Photography</span>
                                    <img src="/assets/icons/icon_camera_older.png">
                                </div>
                                
                                <a class="noformat" href="/blog/index-games.html">
                                    <div class="bg-games outsideborder win-bluebutton">
                                        <span>Games</span>
                                        <img src="/assets/icons/icon_games.png">
                                    </div>
                                </a>
                            </div>     
                            <!--no more sidebar stuff-->  
                        </div>
                    </div>
                    <div class="insideborder content-fill content-box" style="width: 100%;height:100%;">
                        <div class="ms-sans-text">
                            Welcome to my personal blog! I write about all sorts of stuff—whatever interests me, really. Take a gander and you might find something you'll enjoy.
                        </div>
                        
                        <!--header for new posts-->  
                        <div id="new" class="blog-subheading blog-subheading-rainborder">
                            <h3>New from The Blogosphere...</h3>
                        </div>
                        
                        <!--show the most recent four poasts-->  
                        <div class="blogosphere-recent-container">
                            {{ recent_posts }}
                        </div>
                        
                        <!--header for featured posts-->  
                        <div id="featured" class="blog-subheading">
                            <h3>Featured Posts</h3>
                        </div>
                        
                        <!--show featured poasts-->  
                        <div class="blogosphere-featured-container">
                            {{ featured_post_1 }}
                            {{ featured_post_2 }}
                        </div>

                        <!--header for all of the posts-->  
                        <div id="all"  class="blog-subheading">
                            <h3>All Posts</h3>
                        </div>

                        <!--show EVERYTHING-->  
                        <div class="blogosphere-allposts-container">
                            {{ all_posts }}
                        </div>
                    </div>
                </div>
                <div class="insidecontent blog-footer">
                        <div style="padding: 3px; justify-self: flex-start">
                            The Blogosphere is still a work in progress!
                        </div>
                        <div style="padding: 3px; justify-self: flex-end">
                            <i>This is my personal blog. All writing, opinions and photos are my own unless otherwise explicitly stated</i>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </main>
</body>