<head>
    <script src="/head-inject.js"></script>

    <title>The Blogosphere</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/win98.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/blogosphere.css"/>
</head>

<body>
    <main>
        <div class="maincontent-centred" style="min-height:60vh;">
            <div class="invisible-box">
                <div class="filled-logo" style="image-rendering:pixelated">
                    <img src="./assets/images/logo_blogosphere_shadow.webp">
                </div>
            </div>

            <div class="blogosphere-post-container">
                {{ posts }}
            </div>
        </div>
    </main>
</body>