<head>
    <script src="/head-inject.js"></script>

    <title>The Blogosphere</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/win98.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/blogosphere.css"/>
</head>

<body>
    <main>
        <div class="maincontent-centred" style="min-height:60vh;">
            <div class="invisible-box">
                <div class="filled-logo" style="image-rendering:pixelated">
                    <img src="./assets/images/logo_blogosphere_shadow.webp">
                </div>
            </div>

            <div class="blogosphere-new-parent">
                <div class="body-box outsideborder" style="margin-bottom: 16px;">
                    <div class="box-container insideborder" style="padding: 8px;font-family: 'Microsoft Sans-Serif Neue'; font-style:italic;">New From The Blogosphere...</div>
                </div>
                <div class="blogosphere-recent-container">
                    {{ recent_posts }}
                </div>
            </div>
            
            <div class="spacer"></div>

            <div class="body-box outsideborder" style="margin-bottom: 16px;">
                <div class="box-container insideborder" style="padding: 8px;font-family: 'Microsoft Sans-Serif Neue'; font-style:italic;">Browse By Category</div>
            </div>
            <div class="blogosphere-category-grid noformat">
                <a class="noformat" href="/blog/index-general.html">
                    <div class="bg-general outsideborder win-bluebutton">
                        <span>General</span>
                        <img src="/assets/icons/icon_home.png">
                    </div>
                </a>
                <a class="noformat" href="/blog/index-books.html">
                    <div class="bg-books outsideborder win-bluebutton">
                        <span>Books</span>
                        <img src="/assets/icons/icon_book_virginian.png">
                    </div>
                </a>
                <a class="noformat" href="/blog/index-music.html">
                    <div class="bg-music outsideborder win-bluebutton">
                        <span>Music</span>
                        <img src="/assets/icons/icon_cd1.png">
                    </div>
                </a>
                <a class="noformat" href="/blog/index-movies.html">
                    <div class="bg-movies outsideborder win-bluebutton">
                        <span>Movies</span>
                        <img src="/assets/icons/icon_film.png">
                    </div>
                </a>
                
                <div class="bg-photography outsideborder win-bluebotton-disabled">
                    <span>Photography</span>
                    <img src="/assets/icons/icon_camera_older.png">
                </div>
            </div>            

            <div class="spacer"></div>

            <div class="body-box outsideborder" style="margin-bottom: 16px;">
                <div class="box-container insideborder" style="padding: 8px;font-family: 'Microsoft Sans-Serif Neue'; font-style:italic;">All Posts</div>
            </div>
            <div class="blogosphere-allposts-container">
                {{ all_posts }}
            </div>
        </div>
    </main>
</body>