<head>
    <script src="/head-inject.js"></script>

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/win98.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/blogosphere.css"/>
    {{ theme }}
</head>

<body>
    <main>
        <div class="maincontent-centred" style="min-height:60vh;">
            <div class="ImageHeader outsideborder">
                <div class="insideborder">
                    <img class="lazyload" src="/assets/gifs/LoadingCloudsText.gif" data-src="/blog/resources/{{ date }}_0.webp">
                </div>
                <div class="blog-logo no-mobile"><img style="object-fit:fill; aspect-ratio: 10/1;" src="/assets/images/logo_blogosphere_shadow.webp"></div>
                <div class="ImageHeader-MyPhoto">Photo: MichaelsCybersite.net, {{ year }}</div>
            </div>

            <div class="outsideborder body-fill" style="border-width: 4px;">
                <div class="header-one-box">
                    <h1>{{ title }}</h1>
                    <img src="./assets/icons/{{ icon }}">
                </div>
                <div class="insidecontent header-sub-box body-fill" style="padding:2px; box-sizing: border-box;">
                    <a class="noformat" href="/blog/index.html">
                        <div class="windows-button" style="line-height: 34px;">
                            ◀
                        </div>
                    </a>
                    <div class="insideborder inside-element-sunken">
                        https://www.michaelscybersite.net/blog/{{ date }}
                    </div>
                </div>
                <div class="insidecontent">
                    <div class="insideborder content-fill content-box">
                        {{ content }}
                    </div>
                </div>
                <div class="insidecontent blog-footer">
                    <div style="padding: 3px; justify-self: flex-start">
                        {{ tags }}
                    </div>
                    <div style="padding: 3px; justify-self: flex-end">
                        <i>Published on {{ date }}</i>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>