<header>
    <img draggable="false" id="topgridthing" src="./assets/site/topgrid.gif" alt="Website Banner">
    <div class="TopHeader">
        <div class="sitelogo">
            
            <a href="index.html">
                <picture>
                    <source srcset="./assets/site/sitebanner_compact.png" media="(max-width: 900px)">
                    <img draggable="false" src="./assets/site/sitebanner_generic.png" alt="Website Banner">
                </picture>  
            </a>
        </div>
        <div class="nav-bar">
            <a id="noformat" href="/index.html">
                <div class="navbutton outsideborder">
                    <p>Home</p>
                </div>
            </a>
            <a id="noformat"  href="pages/main/about.html">
                <div class="navbutton outsideborder">
                    <p>About</p>
                </div>
            </a>
            <a id="noformat" href="pages/main/music.html">
                <div class="navbutton outsideborder">
                    <p>Music</p>
                </div>
            </a>
            <a id="noformat" href="pages/main/books.html">
                <div class="navbutton outsideborder">
                    <p>Books</p>
                </div>
            </a>
            <!--
                <a id="noformat" href="pages/main/photography.html">
                    <div class="navbutton outsideborder">
                        <p>Photography</p>
                    </div>
                </a>
            -->
        </div>
    </div>
</header>