/*This file stores the basic styles for the site layout*/

body {
    padding-top: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('./assets/site/mygoditsfullofstars.gif');
    background-color: #000000;
  }

/*
Header
*/

header
{
    height: 300px;
}

#topgridthing {
    width: 100vw;
    height: 300px;
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
    z-index: -1000;
  }
  
  .TopHeader {
    display:flex;
    flex-direction: column;
    padding: 10px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    max-height: 256px;
    min-height:256px;
  }

  .sitelogo 
  {
    min-width:50%;
    justify-content: center;
    align-items: center;
  }

  .sitelogo a
  {
    padding-top:50px;
    min-width:256px;
    max-width:1024px;
  }

  .sitelogo img
  {
    object-fit: stretch;
    height: 100%;
    width: 100%;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  }
  
   /* Navbutton Bar & Button Positioning*/
  .nav-bar {
    display: flex;
    flex-direction:row;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
  }

  #noformat
  {
    all: unset;
  }
  
  .navbutton {
    background-color: white;
    min-width:128px;
    width:170px;
    max-width:170px;
  }

  .navbutton p
  {
    text-decoration: none;
    text-align: center;
    font-size: 1.8em;
    pointer-events: none;
    margin:0;
    line-height:1;
  }
  
   /* Navbutton Button Image Behaviours*/
  .navbutton:hover {
    background-color:lime;
  }
  
  .navbutton:active  {
    background-color:yellow;
  }

  .navbutton:disabled 
  {
    background-color:red;
  }

  @media (max-width: 900px)
  {
    .nav-bar {
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .navbutton {
        background-color: white;
        min-width:400px;
        width: 60vw;
        max-width: 70vw;
      }
  }

/*
Footer
*/

footer {
    position: relative;
    width: 100%;
    height: 35vh;
    pointer-events: none;
  
  }
  
  #lowgridthing {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    z-index: -1;
  }


/*
Fonts
*/

@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-Italic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-SemiBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

/*
Formatting for the body
*/
main
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maincontent-centred
{
    display: flexbox;
    justify-content: center;

    min-width:400px;
    width: 60vw;
    max-width: 60vw;
}

/*
Formatting for header boxes
*/
.header-one-box
{
  width: 100%;

  display: flex; 
  justify-content: space-between;
  margin:0px;
  padding:7px
}

.header-one-box img
{
  max-height: 40px;
  min-height: 30px;
  width: auto; 
  object-fit: contain;
}

.header-two-box
{
  width: 100%;

  display: flex; 
  justify-content: space-between;
  margin:0px;
  padding:7px
}

.header-two-box img
{
  max-height: 30px;
  min-height: 25px;
  width: auto; 
  object-fit: contain;
}

/*
Formatting for body boxes
*/
.body-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    gap: 10px;
    align-items: stretch;

    margin: 0px;
    padding: 7px;
}

.body-box .img-container
{
    flex-shrink: 1;
    display: flex;
    height:auto;
    width:30%;
    align-self:center;
    justify-content: center;
}

.body-box img {
    max-width: 100%;
    min-width: 128px;
    height: auto; 
    object-fit:scale-down;
}

.body-box .box-container {
    flex: 1;

    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.box-container p {
    padding: 7px;
    margin: 5px;
}

.grid-box-container h3
{
    margin:0;
}

.body-box .grid-box-container {
    flex: 1;

    display: flex;
    justify-content:space-evenly;
    flex-direction: row;

    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

/*Special grid boxes*/

.grid-box-container > *
{
    background: rgb(255, 255, 255);
    min-width: 50px;
    text-align: left;

    height: 100%; 
    min-height:50px;

    box-sizing: border-box;
    width:fit-content;

    padding: 10px;
}

/* For special side-by side text and items */
.side-by-side
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.newstitle
{
    line-height: 1;
    font-size: 1.4em;
    font-family: 'Times New', serif;
    font-weight: bold;
    
    padding:0;
    margin:0;
    margin-top:-10px;
    margin-bottom:-10px;
}

/*Scroll Containers*/
.scroll-container {
    display: flex;         
    flex-direction: column;
    height: 500px;         
    overflow-y: auto;             
    width: 100%;       
    gap: 10px;
    scrollbar-width: thin;
}

.newsbox {
    flex-shrink: 0;         
    
    display: flex;          
    flex-direction: column; 
    gap: 0;                 
    margin: 0;              
}

.newsbox img
{
    background-color:white;
}

/*Dynamic formatting*/

@media (max-width: 900px) {
    .body-box {
        flex-direction: column;
        align-items: center; /* Center elements when stacked */
    }

    .body-box img {
        max-width: 100%;
        min-width:55vw;
        object-fit: fill;
    }

    .body-box .img-container
    {
        width:100%;
    }

    .body-box .box-container {
        width: 100%; 
        font-size: 1.0em;
    }

    .body-box .grid-box-container
    {
        flex-direction: column;
    }

    .newstitle
    {
        font-size: 1.1em;
        word-wrap:break-word;
    }

    .newsbox {
        height: 100em;
        flex-grow: 1;             
        flex-shrink: 1;
    }

    .scroll-container {
        height: 600px;              
    }
}

