body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 150px;
  background-image: url('./assets/site/mygoditsfullofstars.gif');
}

#gridthing{
  display: block;
  width: 100vw;
  top: -250px;
  z-index: -1000;
  position:relative;
}

.header{
  position: fixed;
  top:50px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  z-index: 1000;
}

.sitelogo {
  display:flex;
  scale: 128px;
  justify-content: center;
}

.sitelogo img {
  position: relative;
  height: 110px;
}

 /* Navbutton Bar & Button Positioning*/
.navbuttons {
  display: flex;
  justify-content: center;
}

.navbutton-button {
  height: 35px;
  display: flex;
  justify-content: center;
  position:relative;
}

 /* Navbutton Button Image Behaviours*/
.navbutton-button:hover img {
  display:block;
  content: url("./assets/ui/button_hover.jpg")
}

.navbutton-button:active img {
  display:block;
  content: url("./assets/ui/button_down.jpg")
}

.navbutton-button img {
  display:block;
}

/* Navbutton Button Text Formatting*/
.button-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-style: normal;
  color: black;
  pointer-events: none;
}