.linksbox {
    display: flex;
    flex-direction: column; /* This will ensure they are placed side by side */
    align-items: center; /* Optional: aligns the items at the start */
}

.linksbox > .dynbox {
    max-width: 70%;
}

.album-grid {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: stretch; 
}

.album {
    text-align: center;
    padding:5px;
    border:outset;
}

.album img {
    width: 95%;
    height: auto;
    object-fit: cover;
    border:outset;
    margin:1px;
}

.album p
{
    padding-top:5px;
    min-height: 65px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}