#book-columns {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px; 
    padding-top: 10px;
  }
  
  #book-columns > div {
    flex: 1 1 30%; 
    min-width: 250px;
  }
  
  /* Scrolling effect */
  
  .scrolling-books {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
  
  .book-cover {
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    animation: scroll-left linear infinite;
  }
  
  @keyframes scroll-left {
    from {
        transform: translateX(120vw);
    }
    to {
        transform: translateX(-120vw);
    }
  }