#book-columns {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px; 
  padding-top: 10px;
}

#book-columns > div {
  flex: 1 1 30%; 
  min-width: 250px;
}

/* Scrolling effect */
  
.scrolling-books {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.book-cover {
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 1;
  mix-blend-mode: multiply;
  animation: scroll-left linear infinite;
  mix-blend-mode: lighten;
  box-shadow: 0px 0px 80px #ffffff4e;
}

.header-one-box, .header-two-box
{
  color: #FFFFFF;
  background-image: linear-gradient(to right, #800000 , #d01010);
}
  
  @keyframes scroll-left {
    from {
        transform: translateX(120vw);
    }
    to {
        transform: translateX(-120vw);
    }
  }
  
.hie
{
  background-color:rgba(255, 255, 0, 0);
}

.hid
{
  background-color:rgba(0, 0, 0, 0);
}

/*
For the recent books showcase
*/

#bookContainer
{
  display: flex;
  flex-direction: row;
}

.bookMonth
{
  padding:2.5px;
  margin:0;

  text-align: center;
}

.readBook img
{
  max-height: 512px;
  max-width: auto;
  object-fit: scale-down;
}

.bookName
{
  margin: 5px;
}

.bookstats-container
{
  display: flex;
  justify-content: space-evenly;
  transform-origin: top left;
}

@media (max-width:900px)
{
  .bookstats-container
  {
    display: flex;
    flex-direction:column;
  }
}

@media (max-width: 470px)
{
  .bookstats-wrapper
  {
    transform: scale(0.8);
  }
}

.bookstats-wrapper
{
  height: max-content;
}

.box-container p
{
    padding: 2px;
}

.bookstats-container .side-by-side
{
    width: unset;
}

/*IMAGE CAROUSEL OVERRIDES*/
.image-carousel-navbar
{
    width: 100%;
}

.image-carousel-filmstrip
{
    padding: 0px;
    -webkit-overflow-scrolling: touch; 
}

.carousel-book
{
    height: 286px;
    max-width: 256px;
}

.carousel-book img
{
    width: auto;
    height: 100%;
    object-fit: scale-down;
}

@media(max-width: 400px)
{
  .image-carousel-filmstrip
  {
    overflow: scroll;
  }

  .carousel-book
  {
    max-width: 196px;
    height: 196px;
  }

  .carousel-selector-button
  {
    max-width: 0px;
    padding: 0px;
    width: 0px;
    visibility: hidden;
    border: 0px;
  }
}