@font-face {
    font-family: 'Quartz';
    src: url('/assets/fonts/quartz.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*Counter Box*/
.counter-box-parent
{
    max-height: 256px;
    min-height: 150px;
    max-width:286px;

    aspect-ratio: 4/3;

    border: 0px outset;

    background-color:black;
    background-image: url('/assets/gifs/Blinky.gif');
    background-size: cover;

    text-align: center;
}

.counter-box-parent h3
{
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

    padding-left:10px;
    padding-right:10px;

    display: block;
    position: relative;
    bottom: -6%;

    text-wrap: nowrap;
}

.counter-box-counter
{
    color:red;
    font-family: 'Quartz', sans-serif;
    font-size: 5.0em;
}

.counter-box-display
{
    display: block;
    position: relative;
    top: 5%;
    max-width: 70%;
    justify-content: center;
    background-color: rgb(24, 0, 0);
    left: 15%;
}

/*LCD Listbox Element*/
.lcd-listbox
{
    max-height: 256px;
    min-height: 150px;
    min-width: 386px;
    max-width:600px;
    width: 100%;

    border: 0px outset;

    background-color:black;
    background-size: cover;

    text-align: left;
}

.lcd-listbox h3
{
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

    padding-left:10px;
    padding-right:10px;

    display: block;
    position: relative;
    bottom: -6%;

    text-wrap: nowrap;
}

.lcd-listbox-element
{
    color:red;
    font-family: 'Quartz', sans-serif;
    font-size: 1.3em;

    display:block;
    position: relative;
    left:0;
}

.box-container p
{
    padding: 2px;
}

.bookstats-container .side-by-side
{
    width: unset;
}

.lcd-listbox-display
{
    display: block;
    position: relative;
    top: 5%;
    max-width: 90%;
    justify-content: center;
    background-color: rgb(24, 0, 0);
    left: 4%;
}

.lcd-flicker-text
{
    color: red;
    animation: flickerColor 0.15s infinite alternate;

    text-shadow: 
    0 0 2px rgb(158, 51, 51), 
    0 0 4px rgba(173, 0, 0),
    0 0 6px rgba(83, 0, 0), 
    0 0 12px rgba(37, 0, 0); 
}

@keyframes flickerColor {
  0% {
    color: red;
  }
  50% {
    color: rgb(214, 0, 0);
  }
  100% {
    color: rgb(255, 28, 28);
  }
}