@font-face {
  font-family: 'Selling England By The Pound';
  src: url('/assets/fonts/UniversRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Invisible Touch';
  src: url('/assets/fonts/FrankllinGothicATFBlack.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/assets/fonts/eurostile.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gill Sans Condensed';
  src: url('/assets/fonts/GillSansMT-Condensed.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/assets/fonts/Eurostile-Demi.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Genesis';
  src: url('/assets/fonts/Genesis Fonts/mama.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Abacab';
  src: url('/assets/fonts/Genesis Fonts/1981Abacab.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Duke';
  src: url('/assets/fonts/Genesis Fonts/DUKEG.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Three';
  src: url('/assets/fonts/Genesis Fonts/centurygothic.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url('/assets/fonts/Genesis Fonts/myriadpro.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Dance';
  src: url('/assets/fonts/Genesis Fonts/WeCantDance.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Tail';
  src: url('/assets/fonts/Genesis Fonts/trickOfTheTail.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lamb';
  src: url('/assets/fonts/Genesis Fonts/thelamb_H.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nursery';
  src: url('/assets/fonts/Genesis Fonts/nursery.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Stations';
  src: url('/assets/fonts/Genesis Fonts/1998calling.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PhilCollins';
  src: url('/assets/fonts/Genesis Fonts/Sayer Script MN Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PhilCollins';
  src: url('/assets/fonts/Genesis Fonts/Sayer Script MN Light.ttf') format('truetype');
  font-style: light;
  font-weight: normal;
}

@font-face {
  font-family: 'PhilCollinsII';
  src: url('/assets/fonts/Genesis Fonts/Emmascript MVB Std Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PhilCollinsII';
  src: url('/assets/fonts/Genesis Fonts/Emmascript MVB Std Bold.otf') format('opentype');
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: 'Stencil';
  src: url('/assets/fonts/Genesis Fonts/dinstencil.ttf') format('truetype');
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: 'windwuther';
  src: url('/assets/fonts/Genesis Fonts/wausau.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Playbill';
  src: url('/assets/fonts/Genesis Fonts/PLAYBILL.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#sellingenglandbythepound
{
    background-color: #ebe7b7;
    font-family: Arial, Helvetica, sans-serif;
    color:#491a00;
}

#sellingenglandbythepound h1
{
    font-family: 'Selling England By The Pound', sans-serif;
    color: #491a00;
}

#sellingenglandbythepound h2
{
    font-family: 'Selling England By The Pound', sans-serif;
    color: #491a00;
}

#invisibletouch
{
    background-color: #ffffff;
    font-family:'Gill Sans MT', sans-serif;
    font-style:normal;
}

#invisibletouch h1
{
    font-family: 'Invisible Touch', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

#invisibletouch h2
{
    font-family: 'Invisible Touch', sans-serif;
    color: #000000;
}

#genesis
{
    background-color: #000000;
    color: #f4dc27;
    font-family:'Eurostile', sans-serif;
    font-style:normal;
}

#genesis h1
{
    font-family: 'Genesis', sans-serif;
    color: #f4dc27;
}

#genesis h2
{
    font-family: 'Eurostile', sans-serif;
    font-weight: bold;
    color: #f4dc27;
}

#abacab
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: normal;
}

#abacab h1
{
    font-family: 'Abacab', sans-serif;
    color: #000000;
}

#abacab h2
{
    font-family: 'Abacab', sans-serif;
    font-weight: bold;
    color: #000000;
}

#duke
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Gill Sans Condensed', sans-serif;
    font-style: normal;
    font-size: 1.25em;
    line-height:0.95;
}

#duke h1
{
    font-family: 'Duke', sans-serif;
    color: #000000;
}

#duke h2
{
    font-family: 'Duke', sans-serif;
    font-weight: bold;
    color: #000000;
}

#andthentherewerethree
{
    background-color: #000000;
    color: #6abfcc;
    font-family: 'Three', sans-serif;
    font-style: normal;
}

#andthentherewerethree h1
{
    font-family: 'Three', sans-serif;
    color: #6abfcc;
}

#andthentherewerethree h2
{
    font-family: 'Three', sans-serif;
    font-weight: bold;
    color: #6abfcc;
}

#wecantdance
{
    background-color: #f7eab3;
    color: #502c97;
    font-family: 'Myriad', sans-serif;
    font-style: normal;
}

#wecantdance h1
{
    font-family: 'Myriad', sans-serif;
    color: #502c97;
}

#wecantdance h2
{
    font-family: 'Myriad', sans-serif;
    font-weight: bold;
    color: #502c97;
}

#callingallstations
{
    background-color: #000000;
    color: #3f6398;
    font-family: 'Franklin Gothic', sans-serif;
    font-style: normal;
}

#callingallstations h1
{
    font-family: 'Stations', sans-serif;
    color: #e18028;
}

#callingallstations h2
{
    font-family: 'Franklin Gothic', sans-serif;
    font-weight: normal;
    color: #a1a1a0;
}

#atrickofthetail
{
    background-color: #e3d29c;
    color: #67241a;
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
}

#atrickofthetail h1
{
    font-family: 'Tail', serif;
    color: #67241a;
}

#atrickofthetail h2
{
    font-family: 'Tail', serif;
    font-weight: bold;
    color: #67241a;
}

#windandwuthering
{
    background-color: #706e61;
    color: #edefef;
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
}

#windandwuthering h1
{
    font-family: 'windwuther', serif;
    color: #edefef;
}

#windandwuthering h2
{
    font-family: 'windwuther', serif;
    font-weight: bold;
    color: #edefef;
}

#thelamblies
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#thelamblies h1
{
    font-family: 'Lamb', serif;
    color: #000000;
}

#thelamblies h2
{
    font-family: 'Lamb', serif;
    font-weight: bold;
    color: #000000;
}

#foxtrot
{
    background-color: #abcfe4;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#foxtrot h1
{
    font-family: 'Nursery', serif;
    color: #000000;
}

#foxtrot h2
{
    font-family: 'Nursery', serif;
    font-weight: bold;
    color: #000000;
}

#nurserycryme
{
    background-color: #aea91d;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#nurserycryme h1
{
    font-family: 'Nursery', serif;
    color: #000000;
}

#nurserycryme h2
{
    font-family: 'Nursery', serif;
    font-weight: bold;
    color: #000000;
}

#facevalue
{
    background-color: #000000;
    color: #d4d4d4;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#facevalue h1
{
    font-family: 'PhilCollinsII', serif;
    color: #d4d4d4;
    font-weight:normal;
}

#facevalue h2
{
    font-family: 'PhilCollinsII', serif;
    font-weight: normal;
    color: #d4d4d4;
}

#helloimustbegoing
{
    background-color: #06438a;
    color: #ffffff;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
    font-style: italic;
}

#helloimustbegoing h1
{
    font-family: 'PhilCollins', serif;
    color: #ffffff;
}

#helloimustbegoing h2
{
    font-family: 'PhilCollins', serif;
    font-weight: bold;
    color: #ffffff;
}

#nojacketrequired
{
    background-color: #041415;
    color: #ffffff;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
}

#nojacketrequired h1
{
    font-family: 'PhilCollinsII', serif;
    color: #ffffff;
    font-weight:normal;
}

#nojacketrequired h2
{
    font-family: 'PhilCollinsII', serif;
    font-weight:normal;
    color: #ffffff;
}

#butseriously
{
    background-color: #030506;
    color: #ffffff;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
}

#butseriously h1
{
    font-family: 'PhilCollins', serif;
    color: #ffffff;
}

#butseriously h2
{
    font-family: 'PhilCollins', serif;
    font-weight: bold;
    color: #ffffff;
}

#bothsides
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
}

#bothsides h1
{
    font-family: 'PhilCollins', serif;
    color: #000000;
}

#bothsides h2
{
    font-family: 'PhilCollins', serif;
    font-weight: bold;
    color: #000000;
}

#danceintothelight
{
    background-color: #ec8c2d;
    color: #ffffff;
    font-family: 'Garamond', sans-serif;
    font-weight: normal;
    
}

#danceintothelight h1
{
    font-family: 'Times New', serif;
    color: #ffffff;
    font-variant:small-caps;
}

#danceintothelight h2
{
    font-family: 'Garamond', serif;
    font-weight: bold;
    color: #ffffff;
    font-variant:small-caps;
}

#hits
{
    background-color: #fcf7eb;
    color: #2759a6;
    font-family: 'Selling England By The Pound', sans-serif;
    font-weight: normal;
}

#hits h1
{
    font-family: 'Stencil', serif;
    color: #bc1f30;
}

#hits h2
{
    font-family: 'Stencil', serif;
    font-weight: bold;
    color: #2759a6;
}

#goingback
{
    background-color: #ebebeb;
    color: #000000;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
}

#goingback h1
{
    font-family: 'PhilCollinsII', serif;
    color: #000000;
}

#goingback h2
{
    font-family: 'PhilCollinsII', serif;
    font-weight: bold;
    color: #000000;
}

#serioushitslive
{
    background-color: #bdb8d3;
    color: #071e13;
    font-family: 'windwuther', sans-serif;
    font-weight: normal;
}

#serioushitslive h1
{
    font-family: 'Playbill', serif;
    color: #071e13;
    font-variant:small-caps;
}

#serioushitslive h2
{
    font-family: 'Playbill', serif;
    font-weight: bold;
    color: #071e13;
    font-variant:small-caps;
}