@font-face {
  font-family: 'Selling England By The Pound';
  src: url('/assets/fonts/UniversRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Invisible Touch';
  src: url('/assets/fonts/FrankllinGothicATFBlack.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/assets/fonts/eurostile.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gill Sans Condensed';
  src: url('/assets/fonts/GillSansMT-Condensed.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('/assets/fonts/Eurostile-Demi.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Genesis';
  src: url('/assets/fonts/Genesis Fonts/mama.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Abacab';
  src: url('/assets/fonts/Genesis Fonts/1981Abacab.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Duke';
  src: url('/assets/fonts/Genesis Fonts/DUKEG.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Three';
  src: url('/assets/fonts/Genesis Fonts/centurygothic.TTF') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url('/assets/fonts/Genesis Fonts/myriadpro.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Dance';
  src: url('/assets/fonts/Genesis Fonts/WeCantDance.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Tail';
  src: url('/assets/fonts/Genesis Fonts/trickOfTheTail.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lamb';
  src: url('/assets/fonts/Genesis Fonts/thelamb_H.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nursery';
  src: url('/assets/fonts/Genesis Fonts/nursery.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#sellingenglandbythepound
{
    background-color: #ebe7b7;
    font-family: Arial, Helvetica, sans-serif;
    color:#491a00;
}

#sellingenglandbythepound h1
{
    font-family: 'Selling England By The Pound', sans-serif;
    color: #491a00;
}

#sellingenglandbythepound h2
{
    font-family: 'Selling England By The Pound', sans-serif;
    color: #491a00;
}

#invisibletouch
{
    background-color: #ffffff;
    font-family:'Gill Sans MT', sans-serif;
    font-style:normal;
}

#invisibletouch h1
{
    font-family: 'Invisible Touch', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

#invisibletouch h2
{
    font-family: 'Invisible Touch', sans-serif;
    color: #000000;
}

#genesis
{
    background-color: #000000;
    color: #f4dc27;
    font-family:'Eurostile', sans-serif;
    font-style:normal;
}

#genesis h1
{
    font-family: 'Genesis', sans-serif;
    color: #f4dc27;
}

#genesis h2
{
    font-family: 'Eurostile', sans-serif;
    font-weight: bold;
    color: #f4dc27;
}

#abacab
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: normal;
}

#abacab h1
{
    font-family: 'Abacab', sans-serif;
    color: #000000;
}

#abacab h2
{
    font-family: 'Abacab', sans-serif;
    font-weight: bold;
    color: #000000;
}

#duke
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Gill Sans Condensed', sans-serif;
    font-style: normal;
    font-size: 1.25em;
    line-height:0.95;
}

#duke h1
{
    font-family: 'Duke', sans-serif;
    color: #000000;
}

#duke h2
{
    font-family: 'Duke', sans-serif;
    font-weight: bold;
    color: #000000;
}

#andthentherewerethree
{
    background-color: #000000;
    color: #6abfcc;
    font-family: 'Three', sans-serif;
    font-style: normal;
}

#andthentherewerethree h1
{
    font-family: 'Three', sans-serif;
    color: #6abfcc;
}

#andthentherewerethree h2
{
    font-family: 'Three', sans-serif;
    font-weight: bold;
    color: #6abfcc;
}

#wecantdance
{
    background-color: #f7eab3;
    color: #502c97;
    font-family: 'Myriad', sans-serif;
    font-style: normal;
}

#wecantdance h1
{
    font-family: 'Myriad', sans-serif;
    color: #502c97;
}

#wecantdance h2
{
    font-family: 'Myriad', sans-serif;
    font-weight: bold;
    color: #502c97;
}

#atrickofthetail
{
    background-color: #e3d29c;
    color: #67241a;
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
}

#atrickofthetail h1
{
    font-family: 'Tail', serif;
    color: #67241a;
}

#atrickofthetail h2
{
    font-family: 'Tail', serif;
    font-weight: bold;
    color: #67241a;
}

#thelamblies
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#thelamblies h1
{
    font-family: 'Lamb', serif;
    color: #000000;
}

#thelamblies h2
{
    font-family: 'Lamb', serif;
    font-weight: bold;
    color: #000000;
}

#foxtrot
{
    background-color: #abcfe4;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#foxtrot h1
{
    font-family: 'Nursery', serif;
    color: #000000;
}

#foxtrot h2
{
    font-family: 'Nursery', serif;
    font-weight: bold;
    color: #000000;
}

#nurserycryme
{
    background-color: #aea91d;
    color: #000000;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#nurserycryme h1
{
    font-family: 'Nursery', serif;
    color: #000000;
}

#nurserycryme h2
{
    font-family: 'Nursery', serif;
    font-weight: bold;
    color: #000000;
}

#facevalue
{
    background-color: #000000;
    color: #d4d4d4;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

#facevalue h1
{
    font-family: 'Selling England By The Pound', serif;
    color: #d4d4d4;
}

#facevalue h2
{
    font-family: 'Selling England By The Pound', serif;
    font-weight: bold;
    color: #d4d4d4;
}

#helloimustbegoing
{
    background-color: #06438a;
    color: #ffffff;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
    font-style: italic;
}

#helloimustbegoing h1
{
    font-family: 'Selling England By The Pound', serif;
    color: #ffffff;
}

#helloimustbegoing h2
{
    font-family: 'Selling England By The Pound', serif;
    font-weight: bold;
    color: #ffffff;
}

#nojacketrequired
{
    background-color: #041415;
    color: #ffffff;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
}

#nojacketrequired h1
{
    font-family: 'Selling England By The Pound', serif;
    color: #ffffff;
}

#nojacketrequired h2
{
    font-family: 'Selling England By The Pound', serif;
    font-weight: bold;
    color: #ffffff;
}

#butseriously
{
    background-color: #041415;
    color: #ffffff;
    font-family: 'Myriad', sans-serif;
    font-weight: normal;
}

#butseriously h1
{
    font-family: 'Selling England By The Pound', serif;
    color: #ffffff;
}

#butseriously h2
{
    font-family: 'Selling England By The Pound', serif;
    font-weight: bold;
    color: #ffffff;
}