/*Fonts*/
@font-face {
  font-family: 'Futura Condensed Extra Bold Italic';
  src: url('/assets/fonts/FuturaCondensedExtraBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Futura Condensed Bold Italic';
  src: url('/assets/fonts/FuturaCondensedBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*Unique Colours*/
.header-one-box, .header-two-box, .header-three-box
{
  color: #000000;
  background-image: linear-gradient(to right, #ffe200 , #ffe947);
  font-family: 'Futura Condensed Extra Bold Italic';
  letter-spacing: -0.05em;
}

.header-two-box, .header-three-box
{
  font-family: 'Futura Condensed Bold Italic';
  letter-spacing: -0.0em;
}