/*The image carousel itself*/
.image-carousel-parent
{
    height: fit-content;
    width:100%;
}

/*The active image of the carousel*/
.image-carousel-activeimg
{
    display:flex;
    justify-content:center;

    padding:1%;

    object-fit:cover;

    
}

.image-carousel-activeimg .insideborder
{
    max-width: 660px;
    width:100%;
    height:100%;
    aspect-ratio: 6 / 4;
}

.image-carousel-activeimg img
{
    width: 100%;
    height: 100%;
}

.image-carousel-navbar
{
    display: flex;
    flex-direction: row;
}

/*The filmstrip obeject which holds image icon buttons*/
.image-carousel-filmstrip
{
    display: flex;
    flex-direction: row;
    padding:0.5%;
    overflow-x:scroll;
    background-color: #525252;
}

/*Buttons on the carousel to select images*/
.carousel-button
{
    /*
    flex: 25%;
    padding:0.25%;
    max-width:25%;
    min-width:20%;
    height:auto;
    */
    min-width:256px;
    border-width: 7px;
    aspect-ratio: 6 / 4;
}

.carousel-button img
{
    object-fit:fill;
    width:100%;
    height:100%;
}

/*Buttons to advance to the next and previous rows of images*/
.carousel-selector-button
{
    font-size:1.5em;
    display:flex;
    line-height: 0;
    max-width: 48px;
}

.carousel-selector-button span
{
    margin:auto;
}