@font-face {
    font-family: 'Codepage437';
    src: url('../../assets/fonts/PerfectDOSVGA437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    top: 0;
    background-color: #000000;
    color: rgb(0, 255, 0);
    font-family: 'Codepage437', sans-serif;
    font-size: 18px;
}

.maincontent {
    text-align: center;
}

#text-display {
    font-family: 'Codepage437', monospace;
    white-space: pre-wrap;
}
